@inherits Umbraco.Web.Mvc.UmbracoViewPage<cmsCore.Library.Models.Blog>
@using ContentModels = cmsCore.Library.Models;
@{ Layout = "master.cshtml"; }
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")



<section class="section">

    <div class="container">
        @Umbraco.RenderMacro("latestBlogposts",
                      new
                      {
                          numberOfPosts = Model.HowManyPostsShouldBeShown,
                          startNodeId = Model.Id
                      })
        @{ }
    </div>

</section>